table {
    margin:auto;
    width:1000px;
}
table, th, td{
	border: 1px solid rgb(149, 149, 149);
	border-collapse: collapse;
	align-content:center;
	text-align:center;
}
th{
	background-color : #D4F4FA;
}

h1{
	text-align:center;
}
.outd{
	display: block; 
	text-align: center;
}
.ind{
	display:inline-block; 
	width: 1000px;
}
p{
	text-align: left;
}